.main-form {
    padding: 50px;
    -webkit-box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 2px 3px 24px 0px rgba(0, 0, 0, 0.41);
    background-image: linear-gradient(to right bottom, #d6cbea, #b6a1da, #9679c8, #7651b6, #5427a3);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-form input {
    box-shadow: none !important;
}

.maainp {
    position: absolute;
    color: red;
    font-weight: 600;
    margin-top: 5px;
}

.main-form .form-floating {
    margin-bottom: 30px !important;
}